[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
azure-functions = "*"
pandas = "*"
tabulate = "*"
azure-storage-blob = "*"
azure-identity = "*"
azure-keyvault-secrets = "*"

[dev-packages]

[requires]
python_version = "3.11"
